@{
    ViewBag.Title = "Header";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Screenwriter", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
    </div>
</div>