@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "HeaderLoggedIn";
}

<div class="navbar navbar-inverse navbar-fixed-top" id="header">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Screenwriter", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
