@{
    ViewBag.Title = "HeaderLoggedIn";
}

<style>
    body
    {
        background-image:url(http://demo.templateworld.com/zero/in_action/mCube/images/footBg.png);
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Screenwriter", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
