@{
    ViewBag.Title = "History";
}
<style>
    th {
        font-size: 20px;
    }
    body
    {
        background-color:orange;
    }
</style>
<h2>History</h2>
<div>
    <table>
        <tr>
            <th>Uploaded files</th>
        </tr>
        <tr>
            <td>Example</td>
            <td>
                <button>Edit</button>
            </td>
        </tr>
    </table>
</div>

<div>
    <table>
        <tr>
            <th>Downloaded files</th>
        </tr>
        <tr>
            <td>Example</td>
        </tr>
    </table>
</div>

<div>
    <table>
        <tr>
            <th>Projects you have worked on</th>
        </tr>
        <tr>
            <td>Example</td>
            <td>
                <button>Edit</button>
            </td>
        </tr>
    </table>
</div>

<div>
    <table>
        <tr>
            <th>Requested videos</th>
        </tr>
    </table>
</div>
