
@{
    ViewBag.Title = "History";
}

@Html.Partial("HeaderLoggedIn")

<h2>History</h2>

<div>
    <h3>Uploaded files</h3>
</div>

<div>
    <h3>Downloaded files</h3>
</div>

<div>
    <h3>Projects you have worked on</h3>
</div>

<div>
    <h3>Requested titles</h3>
</div>