@{
    ViewBag.Title = "Home Page";
}
<style>
    .row 
    {
        border: 1px solid black;
        padding: 5px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Instructions</h1>
            <p class="lead">This is where the instructions will be</p>
        </div>
        <div class="col-md-3">
            <h2>login and registering</h2>
            <p>here the login and registering will be</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <input type="text" size="200"/>
        </div>
    </div>
</div>

<div>
    <p>here we will have language categories</p>
</div>

<div>
    <p>here we will have the top lists</p>
</div>