@{
    ViewBag.Title = "Home Page";
}
<style>
    .row
    {
        padding: 5px;
    }

    table,td
    {
        width:100%;
        height:50px;
        padding: 15px;
        table-layout:fixed;
    }
    #introduction 
    {
        margin:10px;
        border-radius:10px;
        box-shadow:10px 10px 5px #808080;
        position: relative;
        left: -100px;
        top: 6px;
        background-image: url(http://demo.templateworld.com/zero/in_action/mCube/images/footBg.png);
    }
    #textboxinput
    {
        height:30px;
        width:900px;
        padding-left:5px;
        padding-right:5px;
        font-size:large;
    }
    #languagecategories
    {
        text-align:center;
    }
    #textbox
    {
        padding-right:40px;
        padding-left:45px;
    }
    body
    {
        background-color:#FF9933;
    }
</style>
@Html.Partial("HeaderLoggedIn")

<div class="container">
    <div class="row">
        <div id="introduction" style="color:grey;">
            <h2>Instructions</h2>
            <ol>
                <li>
                <p>Search for your desired title in the search box below</p>
                </li>
                <li>
                <p>If it exists you will be presented with the option to download the text file with the subtitles.</p>
                </li>
                <li>
                <p>If your desired title has not been translated, you will see existing requests or you can request the title</p>
                </li>
            </ol>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4" id="textbox">
            <input type="text" id= textboxinput />
            @Html.ActionLink("Search", "SearchResults", "Home")
        </div>
    </div>
</div>

<div>
    <table id="languagecategories">
         <tr>
             <td>Language</td>
             <td>Language</td>
             <td>Language</td>
             <td>Language</td>
         </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
    </table>
</div>

@Html.Partial("MostPopularAndMostRequested")