@{
    ViewBag.Title = "MostPopular";
}

<style>

#mostpopular
    {
        border: 2px solid black;
        background: #B0B0B0;
        margin-right:-20px;
        margin-left:-10px;
        position:absolute
    }

</style>

<div id="mostpopular">
    <table>
        <thead>
            Most Popular
        </thead>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
    </table>
</div>