@{
    ViewBag.Title = "MostPopularAndMostRequested";
}

<style>
    #mostpopular {
        position: absolute;
        left: -10px;
        right: 50px;
        font-size: 15px;
        text-align: center;
    }

    #mostrequested {
        position: absolute;
        left: 675px;
        right: -5px;
        font-size: 15px;
        text-align: center;
    }

    th {
        background-image: url(http://s1.desktopia.net/wp-content/uploads/walls/thumbs/Orange-Color-575x300.jpg);
        text-align: center;
        height: 42px;
        font-size: 24px;
        border-radius: 10px;
        box-shadow: 10px 10px 5px #808080;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6" id="mostpopular">
            <table id="mp">
                <tr>
                    <th>
                        Most Popular
                    </th>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6" id="mostrequested">
            <table id="mr">
                <tr>
                    <th>
                        Most requested
                    </th>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
                <tr>
                    <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
                </tr>
            </table>
        </div>
    </div>
</div>
