@{
    ViewBag.Title = "MostPopular";
}

<div id="mostpopular">
    <table>
        <thead>
            Most Popular
        </thead>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
            <td>Title</td>
        </tr>
    </table>
</div>