
@{
    ViewBag.Title = "MostPopularAndMostRequested";
}

<style>
    #mostpopular
    {
        background-color:black;
        position: absolute;
        left: 0;
        right:50px;
        font-size: 15px;
        text-align: center;
    }
    #mostrequested
    {
        background-color:black;
        position:absolute;
        left:675px;
        right:0;
        font-size: 15px;
        text-align: center;
    }
</style>
<div class="container">
<div class="row">
    <div class="col-md-6" id="mostpopular">
        <table>
            <thead>
                Most Popular
            </thead>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6" id="mostrequested">
        <table>
            <thead>
                Most requested
            </thead>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
        </table>
    </div>
</div>
</div>