﻿
@{
    ViewBag.Title = "PendingRequests";
}
<style>
    td {
        text-align: center;
    }
</style>
@Html.Partial("HeaderLoggedIn")
<div class="row">
    <div class="col-md-12">
        <table style="margin:10px;">
            <tr>
                <td>% Finished</td>
                <td>Pending requests</td>
            </tr>
            <tr>
                <td>%</td>
                <td>TitleName...SpokenLanguage...SubtitleLanguage</td>
                <td><button>Translate</button></td>
            </tr>
            <tr>
                <td>%</td>
                <td>TitleName...SpokenLanguage...SubtitleLanguage</td>
                <td><button>Translate</button></td>
            </tr>
            <tr>
                <td>%</td>
                <td>TitleName...SpokenLanguage...SubtitleLanguage</td>
                <td><button>Translate</button></td>
            </tr>
            <tr>
                <td>%</td>
                <td>TitleName...SpokenLanguage...SubtitleLanguage</td>
                <td><button>Translate</button></td>
            </tr>
            <tr>
                <td>%</td>
                <td>TitleName...SpokenLanguage...SubtitleLanguage</td>
                <td><button>Translate</button></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    @Html.Partial("MostPopularAndMostRequested")
</div>