
@{
    ViewBag.Title = "SearchResults";
}

@Html.Partial("Header")

<style>
    td
    {
        padding:10px;
    }
</style>

<h2>Search Results</h2>

<table>
    <tr>
        <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
        <td>
            <button>Download</button>
        </td>
    </tr>
    <tr>
        <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
        <td>
            <button>Download</button>
        </td>
    </tr>
    <tr>
        <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
        <td>
            <button>Download</button>
        </td>
    </tr>
    <tr>
        <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
        <td>
            <button>Download</button>
        </td>
    </tr>
    <tr>
        <td>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage</td>
        <td>
            <button>Download</button>
        </td>
    </tr>
</table>

<h2>Pending Requests</h2>

<table>
    <tr>
        <td>RequestName</td>
        <td>
            <button>Upvote</button>
        </td>
    </tr>
    <tr>
        <td>RequestName</td>
        <td>
            <button>Upvote</button>
        </td>
    </tr>
    <tr>
        <td>RequestName</td>
        <td>
            <button>Upvote</button>
        </td>
    </tr>
    <tr>
        <td>RequestName</td>
        <td>
            <button>Upvote</button>
        </td>
    </tr>
</table>

@using(Html.BeginForm("Request", "Home"))
{
    <input type="submit" value="Request" style="margin:5px;"/>
}

@Html.Partial("MostPopularAndMostRequested")
