
@{
    ViewBag.Title = "SearchResults";
}

<h2>Search Results</h2>

<p>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage <button>Download</button> </p>
<p>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage <button>Download</button> </p>
<p>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage <button>Download</button> </p>
<p>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage <button>Download</button> </p>
<p>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage <button>Download</button> </p>
<p>TitleName..GeneralInfoAboutTitle..SpokenLanguage..SubtitleLanguage  <button>Download</button> </p>
 
<h2>Pending Requests</h2>

<p>RequestName..<button>Upvote</button></p>
<p>RequestName..<button>Upvote</button></p>
<p>RequestName..<button>Upvote</button></p>
<p>RequestName..<button>Upvote</button></p>
<p>RequestName..<button>Upvote</button></p>
<p>RequestName..<button>Upvote</button></p>

@Html.ActionLink("Request", "Request", "Home")
